{% extends 'base.html' %}
{% load static %}

{% block content %}
<p> Admin Panel Menu </p>
<ul> 
    <li><a href="{% url 'ecp_dashboard' %}">Dashboard</a></li>
    {% comment %} <li><a href="{% url 'ecp_bulk_upload' %}">Bulk Upload</a></li> {% endcomment %}
    {% comment %} <li><a href="{% url 'ecp_manage_elections' %}">Manage Elections</a></li> {% endcomment %}
    {% comment %} <li><a href="{% url 'ecp_manage_candidates' %}">Manage Candidates</a></li> {% endcomment %}
    {% comment %} <li><a href="{% url 'ecp_manage_voters' %}">Manage Voters</a></li> {% endcomment %}
    {% comment %} <li><a href="{% url 'ecp_manage_polling_stations' %}">Manage Polling Stations</a></li> {% endcomment %}
    {% comment %} <li><a href="{% url 'ecp_manage_ballot_boxes' %}">Manage Ballot Boxes</a></li> {% endcomment %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endblock %}

{% block extra_js %}
{% endblock %}