{% extends 'base.html' %}
{% block content %}
<h2>Sign In</h2>
<p class="muted">Enter your CNIC to Login.</p>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label>CNIC</label>
    <input id="cnic" placeholder="xxxxxxxxxxxxx" type="text" name="cnic" required maxlength="13">
    <!-- <input placeholder="xxxx-xxxxx-x" pattern="^\d{5}-\d{7}-\d$" type="text" name="cnic" required maxlength="15"> -->
    <button type="submit">Log In</button>
</form>
<script>
    function insertCnicIntoInputField() {
        const cnicField = document.getElementById('cnic');
        if (cnicField) {
            cnicField.value = localStorage.getItem('CNIC'); // Set the CNIC input value
            cnicField.dispatchEvent(new Event('input', { bubbles: true }));
            cnicField.dispatchEvent(new Event('change', { bubbles: true }));
            localStorage.removeItem('CNIC'); // Clear the CNIC from localStorage after setting it
        } else {
            console.error("Could not find element with ID 'cnic'");
        }
    }
    document.addEventListener('DOMContentLoaded', insertCnicIntoInputField);
    window.addEventListener('cnicUpdated', insertCnicIntoInputField);
</script>
{% endblock %}