{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" >
            Logout
        </button>
    </form>
</nav>
{% if election.is_active %}
<div class="grid">
    <div class="item">
        <h3>{{ election.title }}</h3>
        <div class="actions"><a href="{% url 'assembly_types' election.title %}">Vote now</a></div>
    </div>
</div>
{% else %}
<p>No elections available yet.</p>
{% endif %}
{% endblock %}