{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav>
    <a href="{% url 'logout' %}">Logout</a>
</nav>
<button onclick="history.back()">Go Back </button>
<h2>Available Elections</h2>
{% if election.is_active %}
<div class="grid">
    <div class="item">
        <h3>{{ election.title }}</h3>
        <div class="actions"><a href="{% url 'assembly_types' election.title %}">Vote now</a></div>
    </div>
</div>
{% else %}
<p>No elections available yet.</p>
{% endif %}
{% endblock %}