{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav>
    <a href="{% url 'logout' %}">Logout</a>
</nav>
<button onclick="history.back()">Go Back </button>
<h2>Choose your Candidate</h2>
<form action="{% url 'vote' %}" method="post">
    {% csrf_token %}
    {% for candidate in candidates %}
    <input type="hidden" name="election_id" value="{{ election_id }}">
    <input type="hidden" name="voter_id" value="{{ voter.id }}">
    <label class="item">
        {{ candidate.name }}
        <input type="radio" name="candidate_id" value="{{ candidate.candidate_id }}">
    </label>
    {% endfor %}
    <button type="submit">Submit vote</button>
</form>
{% endblock %}